@media (max-width: 1024px) {
  /* about Section */
}

@media (max-width: 991px) {
  /* custom Section */
  .text-content {
    width: 100%;
  }

  /* navbar brand */
  .navigation-wrap .navbar-brand img {
    height: 3.8125rem;
  }
  .navigation-wrap {
    text-align: center;
    background-color: var(--white-color);
  }
  /* banner design */
  .top-banner {
    padding: 9.375rem 0 9.375rem;
  }
  .testimonial-section .carousel-item .carousel-caption p{
    padding: 0;
  }

  /* carousel design */
}

@media (max-width: 767px) {
  /* custom css */
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.06rem;
  }
  /* tob banner */
  .top-banner {
    padding: 10.875rem 0 9.375rem;
  }
  /* Story section*/
  .story-section {
    height: auto;
    padding: 3rem 0;
  }
  .testimonial-section .carousel-item{
    padding: 11rem 3.125rem;
  }
  /* newsletter */
  .newsLetter{
    width: 75%;

  }
  .newsLetter .main-btn{
    width: 100%;
    margin-top: 2rem;
  }
  .footer .footer-link,.footer a i{
padding: 0 0.7rem;
  }

}

/* story section */

@media (max-width: 330px) {
  .testimonial-section .carousel-item{
    padding: 13rem 3.125rem;
  }
}
